[Desktop Entry]
Name=OpenConnect Autostart Hook
Exec=/home/vcwild/.local/share/hatch/env/virtual/auto-openconnect/NBs2eJBd/auto-openconnect/bin/python3 /home/vcwild/Projects/personal/auto-openconnect/src/connect.py &
Type=Application
X-GNOME-Autostart-enabled=true
